<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../assets/styles/style.scss">
  </head>

  <body>
    <%- include('./components/header.ejs', { rootPath: '../' }) %>
    <%- include('./components/loading.ejs', { rootPath: '../' }) %>

    <main class="about">
      <h2 class="about__title">About Page</h2>

      <section class="section">
        <ul class="section__list">
          <li class="section__list-item">
            <picture class="section__picture">
              <source type="image/png" media="(min-width: 768px)" srcset="../images/sp_tab/dummy_340x280.png">
              <img type="image/png" src="../images/sp_tab/dummy_340x280.png" alt="sample image" class="section__image">
            </picture>
            <p class="section__description">
              たとえばご利用から向ってはいるたいのなて、秋刀魚がは、いよいよそれかして出させるですです起っがるたうと出て、自分は役に立つてならないん。
            </p>
            <button class="section__button">more...</button>
          </li>
          <li class="section__list-item">
            <picture class="section__picture">
              <source type="image/png" media="(min-width: 768px)" srcset="../images/sp_tab/dummy_340x280.png">
              <img type="image/png" src="../images/sp_tab/dummy_340x280.png" alt="sample image" class="section__image">
            </picture>
            <p class="section__description">
              たとえばご利用から向ってはいるたいのなて、秋刀魚がは、いよいよそれかして出させるですです起っがるたうと出て、自分は役に立つてならないん。
            </p>
            <button class="section__button">more...</button>
          </li>
          <li class="section__list-item">
            <picture class="section__picture">
              <source type="image/png" media="(min-width: 768px)" srcset="../images/sp_tab/dummy_340x280.png">
              <img type="image/png" src="../images/sp_tab/dummy_340x280.png" alt="sample image" class="section__image">
            </picture>
            <p class="section__description">
              たとえばご利用から向ってはいるたいのなて、秋刀魚がは、いよいよそれかして出させるですです起っがるたうと出て、自分は役に立つてならないん。
            </p>
            <button class="section__button">more...</button>
          </li>
          <li class="section__list-item">
            <picture class="section__picture">
              <source type="image/png" media="(min-width: 768px)" srcset="../images/sp_tab/dummy_340x280.png">
              <img type="image/png" src="../images/sp_tab/dummy_340x280.png" alt="sample image" class="section__image">
            </picture>
            <p class="section__description">
              たとえばご利用から向ってはいるたいのなて、秋刀魚がは、いよいよそれかして出させるですです起っがるたうと出て、自分は役に立つてならないん。
            </p>
            <button class="section__button">more...</button>
          </li>
          <li class="section__list-item">
            <picture class="section__picture">
              <source type="image/png" media="(min-width: 768px)" srcset="../images/sp_tab/dummy_340x280.png">
              <img type="image/png" src="../images/sp_tab/dummy_340x280.png" alt="sample image" class="section__image">
            </picture>
            <p class="section__description">
              たとえばご利用から向ってはいるたいのなて、秋刀魚がは、いよいよそれかして出させるですです起っがるたうと出て、自分は役に立つてならないん。
            </p>
            <button class="section__button">more...</button>
          </li>
          <li class="section__list-item">
            <picture class="section__picture">
              <source type="image/png" media="(min-width: 768px)" srcset="../images/sp_tab/dummy_340x280.png">
              <img type="image/png" src="../images/sp_tab/dummy_340x280.png" alt="sample image" class="section__image">
            </picture>
            <p class="section__description">
              たとえばご利用から向ってはいるたいのなて、秋刀魚がは、いよいよそれかして出させるですです起っがるたうと出て、自分は役に立つてならないん。
            </p>
            <button class="section__button">more...</button>
          </li>
        </ul>
      </section>

      <article class="related-content">
        <a href="../" class="related-content__link">Top Page</a>
      </article>
    </main>

    <%- include('./components/footer.ejs', { rootPath: '../' }) %>

    <script type="module" src="../assets/scripts/main.js"></script>
    <script type="module" src="../assets/scripts/pages/about.js"></script>
  </body>
</html>