<footer class="footer">
  <section class="footer__inner">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__list-item"><a href="#" class="navigation__link">News</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Service</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">About</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Other</a></li>
      </ul>
    </nav>

    <aside class="sns">
      <ul class="sns__list">
        <li class="sns__list-item">
          <a href="https://x.com/" class="sns__link" target="_blank"><img src="<%= rootPath %>images/common/x-twitter.svg" alt="X"></a>
        </li>
        <li class="sns__list-item">
          <a href="https://www.facebook.com/?locale=ja_JP" class="sns__link" target="_blank"><img src="<%= rootPath %>images/common/facebook.svg" alt="Facebook"></a>
        </li>
        <li class="sns__list-item">
          <a href="https://www.instagram.com/" class="sns__link" target="_blank"><img src="<%= rootPath %>images/common/instagram.svg" alt="Instagram"></a>
        </li>
        <li class="sns__list-item">
          <a href="https://www.youtube.com/" class="sns__link" target="_blank"><img src="<%= rootPath %>images/common/youtube.svg" alt="YouTube"></a>
        </li>
      </ul>
    </aside>
  </section>
</footer>