<header class="heading">
  <section class="heading__inner">
    <h1 class="logo">
      <a href="<%= rootPath %>" class="logo__link"><img src="<%= rootPath %>images/common/sample.svg" alt="sumple" class="logo__image"></a>
    </h1>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__list-item"><a href="#" class="navigation__link">News</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Service</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">About</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Other</a></li>
      </ul>
    </nav>
  </section>
</header>